In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir("drive/My Drive/Colab Notebooks/BoBa")

In [ ]:
import sys, os
import itertools
import pandas as pd

In [ ]:
data = pd.read_csv('./t_drive_data100_meta.csv', encoding='utf-8').drop(columns=['peak', 'day_of_week'])
data = data.rename(columns={'ID': 'vehicle_id'})
group_id = data.groupby("vehicle_id")
# del data
n = len(group_id)
print(n)
data

73

       vehicle_id  ...                        region
0               7  ...  Dianzhuang Tongzhou District
1               7  ...  Dianzhuang Tongzhou District
2               7  ...  Dianzhuang Tongzhou District
3               7  ...  Dianzhuang Tongzhou District
4               7  ...  Dianzhuang Tongzhou District
...           ...  ...                           ...
99995        7322  ...                  None Beijing
99996        7322  ...                  None Beijing
99997        7322  ...                  None Beijing
99998        7322  ...                  None Beijing
99999        7322  ...                  None Beijing

[100000 rows x 6 columns]

In [ ]:
import numpy as np
z = []
for idx, g in enumerate(group_id):
     z.append(g[-1].shape[0])

print(max(z))
print(min(z))
print(np.mean(z))
print(np.median(z))
print(np.argmin(z))

5152
6
1369.86301369863
1172.0
62

In [ ]:
for idx, g in enumerate(group_id):
    
    if idx == 15: # uncomment if get all
        break

    sys.stdout.write(f'\r{idx+1}/{n}')
    sys.stdout.flush()
    g0 = g[-1][:100]
    
    vehicle_id = g[0]
    longitude, latitude = g0['longitude'].tolist(), g0['latitude'].tolist()
    
    coords = list(zip(longitude,latitude))
    
    trituple_coords = list(itertools.combinations(coords,3))
    routes = list(itertools.combinations(g0['route'].tolist(),3))
    regions = list(itertools.combinations(g0['region'].tolist(),3))

    df = pd.DataFrame(columns=['vehicle_id', 'p_start', 'p_temp', 'p_end', 'routes', 'regions'])
    # df = pd.DataFrame(columns=['vehicle_id', 'routes', 'regions'])
    # trituple_coords
    for trituple, route, region in zip(trituple_coords,routes,regions):
        p_start, p_temp, p_end = trituple[0], trituple[1], trituple[2]
    
        feature = {
            "vehicle_id": vehicle_id,
            "p_start": p_start,
            "p_temp": p_temp,
            "p_end": p_end,
            "routes": list(route),
            "regions": list(region),
        }
        df = pd.concat([df,pd.DataFrame.from_dict(feature, orient='index').T], axis=0)
    
    df.to_csv(f"./data_id/{vehicle_id}.csv", encoding='utf-8') #'data_id' contains t-drive. 'dataset' contains hcm
    
    del trituple_coords, routes, regions

15/73

In [ ]:
i=0
df = pd.DataFrame(columns=['vehicle_id', 'p_start', 'p_temp', 'p_end', 'routes', 'regions'])
path = os.path.join(os.getcwd(),'data_id') # 'data_id' contains t-drive. 'dataset' contains hcm
# path
for filename in os.listdir(path):
    print(filename)
    if filename == 'hcm':
        break
    x = pd.read_csv(os.path.join(path, filename))
    x = x.drop(x.columns[0], axis=1)
    df = pd.concat([df,x], axis=0)

# df.to_csv(f"./bo3_tdrive.csv", index=False)

7.csv
73.csv
74.csv
533.csv
691.csv
702.csv
hcm

In [ ]:
i=0
df = pd.DataFrame(columns=['vehicle_id', 'p_start', 'p_temp', 'p_end', 'timestamp'])
path = os.path.join(os.getcwd(),'dataset') # 'data_id' contains t-drive. 'dataset' contains hcm
for filename in os.listdir(path):
    print(filename)
    x = pd.read_csv(os.path.join(path, filename), encoding='utf-8-sig')
    x = x.drop(x.columns[0], axis=1)
    df = pd.concat([df,x], axis=0)

# df.to_csv(f"./bo3.csv", encoding='utf-8-sig', index=False)

In [ ]:
df

       vehicle_id  ...                                            regions
0       100000025  ...  ['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ...
1       100000025  ...  ['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ...
2       100000025  ...  ['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ...
3       100000025  ...  ['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ...
4       100000025  ...  ['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ...
...           ...  ...                                                ...
161695  100000533  ...  ['Phường 17 None', 'Phường Thạnh Lộc Quận 12',...
161696  100000533  ...  ['Phường 17 None', 'Phường 17 None', 'Phường T...
161697  100000533  ...  ['Phường 17 None', 'Phường 17 None', 'Phường T...
161698  100000533  ...  ['Phường 17 None', 'Phường Thạnh Lộc Quận 12',...
161699  100000533  ...  ['Phường 17 None', 'Phường Thạnh Lộc Quận 12',...

[7276500 rows x 6 columns]

In [ ]:
df.to_csv(f"./bo3.csv", encoding='utf-8-sig', index=False)

In [ ]:
data = pd.read_csv('./bo3.csv', encoding='utf-8-sig', converters={'regions': eval, 'routes': eval})

In [ ]:
# data[:30].to_csv(f"./bo3.csv", encoding='utf-8-sig', index=False)

In [ ]:
type(data['routes'][0])

list